.header { 
  background-color: #AB2A19;
  height: 100px;
  color: white;
  font-weight: bold;
}

.body {
  background-color: lightgoldenrodyellow;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
	align-items: center;
}



.submit-container {
  background-color: #3AD886;
  display: flex;
  height: 500px;
  width: 600px;
  position: sticky;
	flex-direction: column;
	border-radius: 12px;
	justify-content: space-between;
	align-items: center;
	
}








.img-box {
  background-color: whitesmoke;
  height: 300px;
  width: 500px;
}





.input-boxes {
  background-color: #3AD886;
  height: 100px;

}








.imagebox {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 50px;
  background-color: #3AD886;
}

.image-url {
  background-color: #3AD886;
  font-size: large;
  font-weight: bold;
}

.img-input {
  width: 500px;
}





.productbox {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 50px;

}

.product-url {
  background-color: #3AD886;
  font-size: large;
  font-weight: bold;
}

.product-input {
  width: 500px;
}




.pricebox {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 50px;

}

.price-url {
  background-color: #3AD886;
  font-size: large;
  font-weight: bold;

}

.price-input {
  width: 500px;

}








.button-box {
  background-color: #3AD886;
  display: flex;
  justify-content: space-between;
	align-items: center;

}

.cancel-button {
  border-radius: 5px;
  height: 40px;
  background-color: #ED6B5A;
  border: none;
}

.add-inventory-button {
  border-radius: 5px;
  height: 40px;
  background-color: #ED6B5A;
  border: none;
}
      


.display-box {
        width: 400px;
        height: 200px;
        background-color: #D34535;
        font-size: small;
        border-radius: 25px;
      }